[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "@openzeppelin-06/=lib/openzeppelin-contracts-06/",
]

eth_rpc_url = 'https://1rpc.io/sepolia'
etherscan_api_key = '${ETHERSCAN_KEY}'